<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>フォーム</title>
  </head>
  <body>
    <form method="post" action="/send">
      <ul>
        <li>from: <input name="from" /></li>
        <li>to: <input name="to" /></li>
        <li>subject: <input name="subject" /></li>
        <li>content: <input name="content" /></li>
      </ul>
      <button type="submit">送信</button>
    </form>
    <form>
      <input name="from">からのメールで
      <button type="submit">絞り込む</button>
    </form>
    <div>
      <ul>
        <% for (const mail of mails) { %>
        <li>
          <p>from:<%= mail.from %></p>
          <p>to:<%= mail.to %></p>
          <p>subject:<%= mail.subject %></p>
          <p>content:<%= mail.content %></p>
        </li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
