<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>フォーム</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <form method="post" action="/send">
      <ul>
        <li>from: <input name="from" /></li>
        <li>to: <input name="to" /></li>
        <li>subject: <input name="subject" /></li>
        <li>content: <input name="content" /></li>
      </ul>
      <button type="submit">送信</button>
    </form>
    <div class="search-bar">
      <form>
        <input
          name="from"
          class="search-input"
          placeholder="差出人を入力"
        />からのメールで
        <button type="submit" class="search-button">絞り込む</button>
      </form>
    </div>
    <div>
      <% for (const mail of mails) { %>
      <div class="mail-container">
        <h2 class="mail-subject"><%= mail.subject %></h2>
        <h3 class="mail-sender"><%= mail.from %></h3>
        <p class="mail-receiver">to:<%= mail.to %></p>
        <p><%= mail.content %></p>
      </div>
      <% } %>
    </div>
  </body>
</html>
