<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>フォーム</title>
  </head>
  <body>
    <form method="post" action="/send">
      <input name="user" />
      <input name="content" />
      <button>送信</button>
    </form>
    <div>
      <% for (const post of posts){ %>
        <p>user:<%=post.user %></li>
        <p>content:<%=post.content %></li>
      <% } %>
    </div>
  </body>
</html>