<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>フォーム</title>
  </head>
  <body>
    <form method="post" action="/send">
      <ul>
      <li>ユーザー名: <input name="user" /></li>
      <li>パスワード: <input name="password" /></li>
      <li>投稿内容: <input name="content" /></li>
      </ul>
      <button type="submit">送信</button>
    </form>
    <div>
      <ul>
        <% for (const post of posts) { %>
          <li>
            <p>user:<%= post.user %></p>
            <p>content:<%= post.content %></p>
          </li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
